<p-toolbar>
  <div class="p-toolbar-group-start">

  </div>
  <div class="p-toolbar-group-center">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
      <img ngSrc="assets/images/Raissa-logo-fondo-transparente-mediano.png" width="350" height="125" alt="Raissa" priority>
    </a>
  </div>
  <div class="p-toolbar-group-end">
    <p-splitbutton label="Iniciar sesión"
                   icon="pi pi-sign-in"
                   [outlined]="true"
                   severity="secondary"
                   [model]="items" />
  </div>
</p-toolbar>
