/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import 'primeflex/primeflex.css';

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden; /* bien */
  overflow-y: auto;
}

label.required::after {
  content: ' *';
  color: red;
  font-weight: bold;
}
